---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
<body>

<!-- Page Contents -->
<div>
  <div class="ui inverted vertical masthead center aligned segment hero">
    {% include menu.html %}
    <div class="ui two column stackable grid container">
      <div class="ui column">
        {% include headline.html %}
        <div class="ui center aligned basic segment">
          <p class="ui white text">Ever stared at the tap list for a brewpub or restaurant and had no idea what to order?</p>
          <p class="ui white text">Get the Beer Goggles app, take a photo of the menu, and get recommendations within seconds!</p>
          <div class="ui row">
            <h4 class="ui inverted sub header">Available on the
              <a class="link" href="https://itunes.apple.com/us/app/beersight/id1197989907">App Store</a>
              and
              <a class="link" href="https://play.google.com/store/apps/details?id=com.beersight">Google Play</a>
            </h4>
          {% include ctabuttons.html %}
        </div>
      </div>
      <div class="ui column">
      </div>
    </div>
  </div>
</div>
<div class="ui basic center aligned padded segment">
  <div class="ui relaxed divided grid container">
    <a name="more"></a>
    <div class="ui three stackable raised cards">
      <div class="card">
        <div class="image">
          <img src="images/tap-list.jpg">
        </div>
        <div class="content">
          <div class="header">
            Staring at a list like this?
          </div>
          <div class="description">Knowing the style, alcohol content, and origin doesn't really help you decide what to order. If you even get that!</div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="images/phone-camera.jpg">
        </div>
        <div class="content">
          <div class="header">
            Snap a picture of the menu
          </div>
          <div class="description">In seconds, Beer Goggles will recognize the beers on the tap list.</div>
        </div>
      </div>
      <div class="card">
        <div class="image">
          <img src="images/list-results.jpg">
        </div>
        <div class="content">
          <div class="header">
            And turn them in to a searchable list
          </div>
          <div class="description">Including description, ABV, IBU and more!</br>
        </div>
      </div>
    </div>
  </div>
</div>
{% include footer.html %} 
</body>

</html>
