---
---
<!DOCTYPE html>
<html>
  {% include head.html %}
<body>

<!-- Page Contents -->
<div>
  <div class="ui inverted vertical masthead center aligned segment hero">
    {% include menu.html %}
    <div class="ui center aligned basic segment">
      {% include headline.html %}
      <div class="ui row">
        <h4 class="ui inverted sub header">Download now</h4>
        {% include ctabuttons.html %}
      </div>
    </div>
</div>
<!-- feature 1 -->
<div class="ui basic center aligned padded segment">
  <div class="ui two column stackable relaxed grid container">
    <div class="column">
      <img class="ui bordered huge rounded image" src="images/cheers_hero.jpg" />
    </div>
    <div class="left aligned column">
      <h1>Beer's awesome!</h1>
      <div class="ui huge relaxed vertical list">
        <div class="item">
          <i class="yellow big bar icon"></i>
          <div class="middle aligned content">New brewpubs open up every month, and breweries release new styles often</div>
        </div>
        <div class="item">
          <i class="red big question icon"></i>
          <div class="middle aligned content">But how do you know what to order?</div>
        </div>
        <div class="item">
          <i class="blue big thumbs outline down icon"></i>
          <div class="middle aligned content">A punny name doesn't always mean a good beer</div>
        </div>
        <div class="item">
          <i class="green big dollar icon"></i>
          <div class="middle aligned content">And craft beer is expensive! Ordering something you won't like is a waste</div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Try Beer Goggles -->
<div class="ui basic center aligned padded segment">
  <h1>Try Beer Goggles!</h1>
</div>
<!-- features -->
<div class="ui basic center aligned padded segment">
  <div class="ui three column doubling stackable grid container">
    <div class="column">
      <img class="ui centered medium rounded image" src="images/photo.gif" />
      <h4>
        <i class="grey big photo icon"></i>
        Take a photo of the tap list
      </h4>
    </div>
    <div class="column">
      <img class="ui centered medium rounded image" src="images/scan.gif" />
      <h4>
        <i class="orange big wizard icon"></i>
        In seconds, Beer Goggles will identify the beers
      </h4>
    </div>
    <div class="column">
      <img class="ui centered medium rounded image" src="images/resultlist.gif" />
      <h4>
        <i class="black big file text up icon"></i>
        And give you description, reviews, suggestions, and more!
      </h4>
    </div>
  </div>
</div>
{% include footer.html %}
</body>

</html>
