<div class="ui horizontal list">
  <div class="item">
    <a href="https://itunes.apple.com/us/app/beersight/id1197989907">
      <button class="big ui orange button">
        <i class="apple icon"></i>
        App Store
      </button>
    </a>
  </div>
  <div class="item">
    <a href="https://play.google.com/store/apps/details?id=com.beersight">
      <button class="big ui blue button">
        <i class="google icon"></i>
        Google Play
      </button>
    </a>
  </div>
<div class="ui inverted horizontal divider">
  Or
</div>
<a href="#more">
  <button class="big ui button">
    Learn More
  </button>
</a>
</div>
