<div class="ui rich-gold footer segment">
    <div class="ui center aligned container">
      <p><h4 class="ui inverted header">Beer Goggles is made with ❤️ and occasional 🍺 by <a class="link" href="https://twitter.com/jameswrubel" target="_blank">James Wrubel</a></h4></p>
      <p><h4 class="ui inverted header">&copy; 2017 <a class="link" href="privacy-policy.html">Privacy Policy and Terms of Use</a></h4></p>
      <p><h4 class="ui inverted header">Beer Goggles is written in <a class="link" href="https://www.reactnative.com/" target="_blank">React Native</a>. Beer information provided by <a class="link" href="https://www.brewerydb.com/" target="_blank">BreweryDB</a>. Say hi or suggest features at <a class="link" mailto:"info@beergoggl.es">info@beergoggl.es</a>.</h4></p>
    </div>
  </div>
  <script src="js/custom.js"></script>
  <script src="js/headline-effect.js"></script>
