<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <meta name="description" content="With 30+ beers on tap, there's a beer on the tap list that you'll love. Find it now with Beer Goggles. 📄➡️📱➡️🍺">
  <meta name="author" content="Beer Goggles">
  <title>Beer Goggles</title>
  <link rel="icon" type="image/png" href="{{ "/favicon-16x16.png" | prepend: site.baseurl }}" sizes="16x16">
  <link rel="icon" type="image/png" href="{{ "/favicon-32x32.png" | prepend: site.baseurl }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ "/favicon-96x96.png" | prepend: site.baseurl }}" sizes="96x96">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/custom.css"/>
	<link rel="stylesheet" href="css/headline-effect.css" /> <!-- animated headlines  -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.js"></script>
</head>
